* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* ================common=============== */
a {
  text-decoration: none;
}
header {
  background-color: #fffcf4;
}
.btn {
  display: block;
  min-width: 118px;
  text-align: center;
  border-radius: 30px;
}
/* ================header================*/
.header .body {
  display: flex;
  align-items: center;
  padding: 30px 0;
}
.header.fixed {
  position: sticky;
  top: -22px;
}
.nav {
  margin-left: auto;
}
.nav ul {
  display: flex;
}
.nav a {
  position: relative;
  padding: 8px 21px;
  color: rgb(150, 115, 115);
}
.header .main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
.nav li.active a,
.nav a:hover {
  color: black;
  /* font-weight: 900px; */
  text-shadow: 1px 0 0 black;
}
.nav li.active a::after {
  position: absolute;
  left: 21px;
  bottom: 2px;
  content: "";
  display: block;
  width: 12px;
  height: 2px;

  background-color: black;
}
.header .btn-sign-up {
  width: 137px;
  padding: 20px;
  background-color: black;
  color: white;

  margin-left: 21px;
}
