* {
  box-sizing: border-box;
}
:root {
  --fix-font: "Sen", sans-serif;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* ================common=============== */
a {
  text-decoration: none;
}
header {
  background-color: #fffcf4;
  /* #fffcf4 */
}
.btn {
  display: block;
  min-width: 118px;
  text-align: center;
  border-radius: 30px;
  background-color: black;
}
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
/* ================header================*/
.header .body {
  display: flex;
  align-items: center;
  padding: 30px 0;
}
.header.fixed {
  z-index: 1;
  position: sticky;
  top: -22px;
}
.nav {
  margin-left: auto;
}
.nav ul {
  display: flex;
}
.nav a {
  position: relative;
  padding: 8px 21px;
  color: rgb(150, 115, 115);
}

.nav li.active a,
.nav a:hover {
  color: black;
  /* font-weight: 900px; */
  text-shadow: 1px 0 0 black;
}
.nav li.active a::after {
  position: absolute;
  left: 21px;
  bottom: 2px;
  content: "";
  display: block;
  width: 12px;
  height: 2px;

  background-color: black;
}
.header .btn-sign-up {
  width: 137px;
  padding: 20px;

  color: white;

  margin-left: 21px;
}

/* phần hero */
.hero {
  padding-top: 40px;
  background-color: #fffcf4;
}
.hero .body {
  display: flex;
}

.hero .media-block {
  width: 48.7%;
  display: flex;
  position: relative;
  /* background-color: rgb(152, 107, 107); */
}
.hero .img {
  width: 470px;
}
.hero-summary {
  position: absolute;
  width: 270px;
  right: 0;
  bottom: 20px;
  background-color: #fff;
}
.hero-summary .item {
  display: flex;

  align-items: center;
}
.hero .icon {
  padding-left: 10px;
}
.hero .info {
  padding-left: 20px;
}
.hero .content-block {
  width: 51.2%;
  padding-top: 64px;
  padding-left: 130px;

  background-color: #fffcf4;
}

.hero .heading {
  font-family: var(--fix-font);
  font-weight: 700;
  font-size: 5.8rem;
  line-height: 68px;
  letter-spacing: -2%;
}
.hero .desc {
  font-size: 1.8rem;
  line-height: 30px;
}
.hero .group-two {
  padding-top: 30px;
  display: flex;
  align-items: center;
}
.hero .btn-see-courses {
  background-color: orange;
  width: 180px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero button {
  justify-content: center;
  background-color: #fffcf4;
  align-items: center;
  display: flex;
  border: none;
}
.hero .group-two .icon {
  width: 40px;
  height: 40px;
  display: flex;
  background-color: #fff;
  border-radius: 40px;
  margin-left: 20px;
  justify-content: center;
  align-items: center;
}

.hero .group-two span {
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  margin-left: 20px;
}
.hero .content-block p {
  padding-top: 30px;
}
.hero .content-block strong {
  font-weight: 700;
  font-size: 4.4rem;
}
.hero .content-block strong {
  margin-right: 20px;
}
.hero .content-block strong:nth-child(2) {
  margin-left: 30px;
}
